ex-Precipitation.ipynb

Caluclating_Precipitation_Anamolies_Kerpen.ipynb

Temperature-Circle-Visualization-Kerpen_NOT ADJUSTEDYET.ipynb

.ipynb_checkpoints

netcdf.ipynb

Auswertung_Niederschläge_Kerpen_DE.ipynb


Wind.ipynb

projected_PR.ipynb

SPI_Kerpen.ipynb